.App {
  text-align: center;
  background-color: #1f335c;
  
}

.App-header {
  max-width: 750px;  
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


